<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wall</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/css_Library.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
</head>

<body class="background_color2">
    <div class="nav flex between padding-10">
        {% for recipe in recipes %}
        <p class="text-30 mar-top-40 color1 ">Editing {{ recipe.name }}</p>
        <div class="mar-left-20 mar-right-20 mar-top-40">
            <a href="/show/recipes" class="btn border black text_dec mar-right-10">Dashboard</a>
            <a href="/logout" class="btn border black text_dec">Logout</a>
        </div>
    </div>
    {% for message in get_flashed_messages(category_filter=["err_blank"]) %}
    <p class="black background_white border_round_5 padding-20"><strong>{{message}}</strong></p>
    {% endfor %}
    <div class="main_container2">
        <div class="container col-1 flex mar-top-10 padding-10">
            <form action="/update/recipe" method="post" class="color1 text_dec flex_column fill">
                <p class="mar-top-20">Name:</p>
                <input type="text" class="border_round_5 padding-5" name="name" value="{{ recipe.name }}">
                <p class="mar-top-20">Description:</p>
                <textarea name="description" style="resize: none;" cols="30" rows="8">{{ recipe.description }}</textarea>
                <p class="mar-top-20">Instructions:</p>
                <textarea name="instructions" cols="30" style="resize: none;" rows="8">{{ recipe.instructions }}</textarea>
                <div class="flex"><input type="submit" class="mar-top-20 btn border background_color2" value="Update">
                </div>
        </div>
        <div class="container col-1 flex alg_flex_start mar-top-10 padding-10 flex_column color1 ">
            <p class="mar-top-20">Date Made On:</p>
            <input type="date" class="border_round_5 padding-5" name="made" value="{{ recipe.made }}" >
            <p class="mar-top-20">Under 30 Minutes?</p>
            <div class="mar-top-10">
                {% if recipe.under30 == 'Yes' %}
                <input type="radio" name="under_30" id="Yes" value="Yes" checked="checked">
                <label for="yes" class="mar-right-5">Yes</label>
                <input type="radio" name="under_30" id="no" value="No">
                <label for="no">No</label>
                {% else  %}
                <input type="radio" name="under_30" id="Yes" value="Yes">
                <label for="yes" class="mar-right-5">Yes</label>
                <input type="radio" name="under_30" id="no" value="No" checked="checked">
                <label for="no">No</label>
                {% endif %}
            </div>
            </form>
        {% endfor %}
        </div>
    </div>
    <div class="navbar_bottom"></div>
</body>

</html>