<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wall</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/css_Library.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
</head>

<body class="background_color2">
    <div class="nav flex between padding-10">
            {% for users in user %}
            <p class="text-30 mar-top-40 color1 ">Welcome {{ users.first_name }}!</p>
            {% endfor %}
            <div class="mar-left-20 mar-right-20 mar-top-40">
                <a href="/recipes/new" class="btn border black text_dec mar-right-10">Create</a>
                <a href="/logout" class="btn border black text_dec">Logout</a>
            </div>
    </div>
    <div class="main_container2">
        <div class="container col-1 flex_column padding-10">
            <p class="text-30 color1 flex ">Recipes:</p>
            <div class="container border background_black width-70 flex_wrap max-height-500px overflow_scroll">
                <table class="table table-light">
                    <thead>
                        <th>Name:</th>
                        <th>Under 30 Minutes?</th>
                        <th>Actions:</th>
                    </thead>
                    {% if recipes != False %}
                    {% for recipe in recipes %}
                    {% for users in user %}
                    <tbody>
                        
                        <td>{{ recipe.name }}</td>
                        <td>{{ recipe.under_30}}</td>
                        {% if recipe.user_id == users.id %}
                        <td><a href="/view/recipe/{{ recipe.id }}">View instructions</a> | <a href="/edit/recipe/{{ recipe.id }}">Edit</a> | <a href="/delete/recipe/{{ recipe.id }}">Delete</a></td>
                        {% else %}
                        <td><a href="/view/recipe/{{ recipe.id }}">View instructions</a></td>
                        {% endif %}
                        {% endfor %}
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="navbar_bottom"></div>
</body>

</html>