<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wall</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/css_Library.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
</head>

<body class="background_color2">
    <div class="nav flex between padding-10">
            {% for users in user %}
            <p class="text-30 mar-top-40 color1 ">Welcome {{ users.first_name }}!</p>
            {% endfor %}
            <div class="mar-left-20 mar-right-20 mar-top-40">
                <a href="/show/recipes" class="btn border black text_dec mar-right-10">Dashboard</a>
                <a href="/logout" class="btn border black text_dec">Logout</a>
            </div>
    </div>
    {% for recipe in recipes %}
    <div class="main_container2">
        <div class="container col-1 flex_column padding-10">
            <p class="text-30 color1 flex ">{{ recipe.name }}:</p>
            <div class="container border width-70 flex_wrap max-height-500px overflow_scroll background_white padding-10">
                <div class="flex_row alg_flex_start gap-20">
                    <p>Description: </p>
                    <p>{{ recipe.description }}</p>
                </div>
                <div class="flex_row alg_flex_start gap-20 mar-top-40">
                    <p>Under 30 Minutes: </p>
                    <p>{{ recipe.under_30}}</p>
                </div>
                <div class="flex_row alg_flex_start gap-20 mar-top-40">
                    <p>Instructions: </p>
                    <p>{{ recipe.instructions }}</p>
                </div>
                <div class="flex_row alg_flex_start gap-20 mar-top-40">
                    <p>First Made On: </p>
                    <p>{{ recipe.made }}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="navbar_bottom"></div>
</body>

</html>