<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Sighting</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/css_Library.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
</head>

<body class="background_color2">
    <div class="nav flex_column padding-20">
        <div class="flex width-100 between mar-top-40">
            <p class="text-30 mar-top-40 color1 ">Sasquatch Websighting</p>
            {% for users in user %}
            <p class="text-30 mar-top-40 color1">{{ users.first_name }} {{ users.last_name }}</p>
            {% endfor %}
        </div>
        <div class="mar-left-20 mar-top-10 width-100 flex_end">
            <a href="/show/sightings" class="btn border black text_dec mar-right-10">Dashboard</a>
            <a href="/logout" class="btn border black text_dec">Logout</a>
        </div>
    </div>
    {% for message in get_flashed_messages(category_filter=["err_blank"]) %}
    <p class="black background_white border_round_5 padding-20"><strong>{{message}}</strong></p>
    {% endfor %}
    {% for sighting in sightings %}
    <div class="main_container2">
        <div class="container col-1 flex mar-top-10 padding-10">
            <form action="/update/sighting" method="post" class="color1 text_dec flex_column fill">
                <p class="mar-top-20" >Location:</p>
                <input type="text" class="border_round_5 padding-5" name="location" value="{{ sighting.location }}">
                <p class="mar-top-20">What Happened:</p>
                <textarea name="description" style="resize: none;" cols="30" rows="8">{{ sighting.description }}</textarea>
                <input type="hidden" name="id" value="{{ sighting.id }}">
                <div class="flex"><input type="submit" class="mar-top-20 btn border background_color2" value="Submit">
                </div>
        </div>
        <div class="container col-1 flex alg_flex_start mar-top-10 padding-10 flex_column color1 ">
            <p class="mar-top-20">Date of Sighting:</p>
            <input type="date" class="border_round_5 padding-5" name="sighting_date" value="{{ sighting.sighting_date}}">
            <p class="mar-top-20"># of Sasquatches?</p>
            <input type="number" name="num_apes" value="{{ sighting.num_apes }}">
            </form>
            {% endfor %}
        </div>
    </div>
    <div class="navbar_bottom"></div>
</body>

</html>